mixin global-foot
	// JavaScripts
	<?php Javascript::add('public/assets/js/jquery.min.js', 'frontend', 1); ?>
	<?php Javascript::add('public/assets/js/bootstrap.min.js', 'frontend', 2); ?>
	<?php Javascript::load(); ?>