include ../../global-blocks/**/*.jade
include blocks/**/*.jade
doctype html
html(lang='ru')
	+global-head('agency')
	body.page#page-top
		+navbar
		+header
		+section('services','','Наши услуги','Lorem ipsum dolor sit amet consectetur.')
			div(class="row text-center")
				.col-md-4(data-sr="enter left, hustle 100px, reset")
					span(class="fa-stack fa-4x")
						i(class="fa fa-circle fa-stack-2x text-primary")
						i(class="fa fa-shopping-cart fa-stack-1x fa-inverse")
					h4(class="service-heading") Интернет-магазины под ключ
					p(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
				.col-md-4(data-sr="enter top, hustle 100px, reset")
					span(class="fa-stack fa-4x")
						i(class="fa fa-circle fa-stack-2x text-primary")
						i(class="fa fa-laptop fa-stack-1x fa-inverse")
					h4(class="service-heading") Сайты-визитки
					p(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
				.col-md-4(data-sr="enter right, hustle 100px, reset")
					span(class="fa-stack fa-4x")
						i(class="fa fa-circle fa-stack-2x text-primary")
						i(class="fa fa-lock fa-stack-1x fa-inverse")
					h4(class="service-heading") Веб-дизайн
					p(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
		+section('portfolio','bg-light-gray','Портфолио','Lorem ipsum dolor sit amet consectetur.')
			.row
				.col-md-4.col-sm-6.portfolio-item
					a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
						.portfolio-hover
							.portfolio-hover-content
								i.fa.fa-plus.fa-3x
						img.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/portfolio/roundicons.png', alt='')
					.portfolio-caption
						h4 Round Icons
						p.text-muted Graphic Design
				.col-md-4.col-sm-6.portfolio-item
					a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
						.portfolio-hover
							.portfolio-hover-content
								i.fa.fa-plus.fa-3x
						img.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/portfolio/startup-framework.png', alt='')
					.portfolio-caption
						h4 Startup Framework
						p.text-muted Website Design
				.col-md-4.col-sm-6.portfolio-item
					a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
						.portfolio-hover
							.portfolio-hover-content
								i.fa.fa-plus.fa-3x
						img.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/portfolio/treehouse.png', alt='')
					.portfolio-caption
						h4 Treehouse
						p.text-muted Website Design
				.col-md-4.col-sm-6.portfolio-item
					a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
						.portfolio-hover
							.portfolio-hover-content
								i.fa.fa-plus.fa-3x
						img.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/portfolio/golden.png', alt='')
					.portfolio-caption
						h4 Golden
						p.text-muted Website Design
				.col-md-4.col-sm-6.portfolio-item
					a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
						.portfolio-hover
							.portfolio-hover-content
								i.fa.fa-plus.fa-3x
						img.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/portfolio/escape.png', alt='')
					.portfolio-caption
						h4 Escape
						p.text-muted Website Design
				.col-md-4.col-sm-6.portfolio-item
					a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
						.portfolio-hover
							.portfolio-hover-content
								i.fa.fa-plus.fa-3x
						img.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/portfolio/dreams.png', alt='')
					.portfolio-caption
						h4 Dreams
						p.text-muted Website Design
		+section('about','','О нас','Lorem ipsum dolor sit amet consectetur.')
			.row
				.col-lg-12
					ul.timeline
						li
							.timeline-image
								img.img-circle.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/about/1.jpg', alt='')
							.timeline-panel
								.timeline-heading
									h4 2009-2011
									h4.subheading Our Humble Beginnings
								.timeline-body
									p.text-muted
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
						li.timeline-inverted
							.timeline-image
								img.img-circle.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/about/2.jpg', alt='')
							.timeline-panel
								.timeline-heading
									h4 March 2011
									h4.subheading An Agency is Born
								.timeline-body
									p.text-muted
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
						li
							.timeline-image
								img.img-circle.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/about/3.jpg', alt='')
							.timeline-panel
								.timeline-heading
									h4 December 2012
									h4.subheading Transition to Full Service
								.timeline-body
									p.text-muted
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
						li.timeline-inverted
							.timeline-image
								img.img-circle.img-responsive(src!='<?php echo Site::url(); ?>/public/themes/agency/images/about/4.jpg', alt='')
							.timeline-panel
								.timeline-heading
									h4 July 2014
									h4.subheading Phase Two Expansion
								.timeline-body
									p.text-muted
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
						li.timeline-inverted
							.timeline-image
								h4
									| Be Part
									br
									| Of Our
									br
									| Story!
		+section('team','bg-light-gray','Наша команда','Lorem ipsum dolor sit amet consectetur.')
			.row
				.col-sm-4
					.team-member(data-sr="enter left, hustle 100px, reset")
						img.img-responsive.img-circle(src!='<?php echo Site::url(); ?>/public/themes/agency/images/team/1.jpg', alt='')
						h4 Лика Кузьмина
						p.text-muted Ведущий дизайнер
						ul.list-inline.social-buttons
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-linkedin
				.col-sm-4
					.team-member(data-sr="enter bottom, hustle 100px, reset")
						img.img-responsive.img-circle(src!='<?php echo Site::url(); ?>/public/themes/agency/images/team/2.jpg', alt='')
						h4 Влад Стахов
						p.text-muted Маркетолог
						ul.list-inline.social-buttons
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-linkedin
				.col-sm-4
					.team-member(data-sr="enter right, hustle 100px, reset")
						img.img-responsive.img-circle(src!='<?php echo Site::url(); ?>/public/themes/agency/images/team/3.jpg', alt='')
						h4 Диана Терехова
						p.text-muted Ведущий разработчик
						ul.list-inline.social-buttons
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-linkedin
			.row
				.col-lg-8.col-lg-offset-2.text-center
					p.large.text-muted
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
		aside.clients
			.container
				.row
					.col-md-3.col-sm-6
						a(href='#')
							img.img-responsive.img-centered(src!='<?php echo Site::url(); ?>/public/themes/agency/images/logos/envato.jpg', alt='')
					.col-md-3.col-sm-6
						a(href='#')
							img.img-responsive.img-centered(src!='<?php echo Site::url(); ?>/public/themes/agency/images/logos/designmodo.jpg', alt='')
					.col-md-3.col-sm-6
						a(href='#')
							img.img-responsive.img-centered(src!='<?php echo Site::url(); ?>/public/themes/agency/images/logos/themeforest.jpg', alt='')
					.col-md-3.col-sm-6
						a(href='#')
							img.img-responsive.img-centered(src!='<?php echo Site::url(); ?>/public/themes/agency/images/logos/creative-market.jpg', alt='')
		+section('contact','','Связаться с нами','Lorem ipsum dolor sit amet consectetur.')
			.row
				.col-lg-12
					form#contactForm(name='sentMessage', novalidate='')
						.row
							.col-md-6
								.form-group
									input#name.form-control(type='text', placeholder='Ваше имя *', required='', data-validation-required-message='Введите Ваше имя.')
									p.help-block.text-danger
								.form-group
									input#email.form-control(type='email', placeholder='Ваш E-mail *', required='', data-validation-required-message='Введите Ваш e-mail.')
									p.help-block.text-danger
								.form-group
									input#phone.form-control(type='tel', placeholder='Ваш телефон *', required='', data-validation-required-message='Введите ваш номер телефона.')
									p.help-block.text-danger
							.col-md-6
								.form-group
									textarea#message.form-control(placeholder='Ваше сообщение *', required='', data-validation-required-message='Введите текст сообщения.')
									p.help-block.text-danger
							.clearfix
							.col-lg-12.text-center
								#success
								button.btn.btn-xl(type='submit') Отправить сообщение
		+footer
		+modal('portfolioModal1')
		+modal('portfolioModal2')
		+modal('portfolioModal3')
		+modal('portfolioModal4')
		+modal('portfolioModal5')
		+modal('portfolioModal6')
		+global-foot
			// jQuery
			<?php Javascript::add('public/assets/js/jquery.min.js', 'frontend', 1); ?>
			// Bootstrap
			<?php Javascript::add('public/assets/js/bootstrap.min.js', 'frontend', 2); ?>
			// Plugins
			<?php Javascript::add('public/themes/agency/js/plugins/jquery.easing.js', 'frontend', 3); ?>
			<?php Javascript::add('public/themes/agency/js/plugins/classie.js', 'frontend', 4); ?>
			<?php Javascript::add('public/themes/agency/js/plugins/cbpAnimatedHeader.js', 'frontend', 5); ?>
			<?php Javascript::add('public/themes/agency/js/plugins/scrollReveal.js', 'frontend', 6); ?>
			// Contact Form JavaScript
			<?php Javascript::add('public/themes/agency/js/plugins/jqBootstrapValidation.js', 'frontend', 7); ?>
			<?php Javascript::add('public/themes/agency/js/plugins/contact_me.js', 'frontend', 8); ?>
			// Custom Theme JavaScript
			<?php Javascript::add('public/themes/agency/js/agency.js', 'frontend', 9); ?>
			<?php Javascript::load(); ?>