mixin header
	// Header
	header
		.container
			.intro-text
				div(class="intro-lead-in") Добро пожаловать в нашу веб-студию!
				div(class="intro-heading") Рады Вас Видеть
				a(href="#services" class="page-scroll btn btn-xl") Узнать о нас больше